.App {
  text-align: center;
  background-color: "background-color";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: "text-color";
  margin: 40px 60px;
}
